.gitToken*

# Compiled source #
###################
*.o
*.so

# Logs of the database #
########################
*.sql

# Emacs copies #
################
*~

# root output files #
#####################
*.root

# Final executable #
####################
CfBackgroundFlow